*$py.class
build/
.cache
celerybeat-schedule
*,cover
.coverage
.coverage.*
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
.git
.gitignore
htmlcov/
.hypothesis/
.installed.cfg
instance/
.ipynb_checkpoints
lib/
lib64/
local_settings.py
*.log
*.manifest
*.mo
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
__pycache__/
*.py[cod]
.Python
.python-version
.ropeproject
.scrapy
sdist/
*.so
*.spec
.spyderproject
target/
.tox/
.travis.yml
var/
venv
venv/
.webassets-cache
.dockerignore
.editorconfig
.github
.pylintrc
.pyup.yml
.readthedocs.yml
Dockerfile
LICENSE
MANIFEST.in
README.md
debug.sh
docs
requirements
tests
tox.ini
wsgi.ini
